

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
    <span class="mb-3 mb-md-0 text-muted">&copy; 2023 Escuela ETAP - RAAC 101</span>
    </div>

    <div class="col-md-4 d-flex align-items-center justify-content-center">
    <a href="/"><img src="/img/logo2.png" width="113" height="37"></a>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      
      {{!-- Facebook --}}
      <a href="https://www.facebook.com/escuelaetap" class="text-muted mx-2"><img src="/img/fb-foot.png" width="35" height="35"></a>

      <a href="https://www.instagram.com/escuelaetap/" class="text-muted mx-2"><img src="/img/ig-foot.png" width="35" height="35"></a>


      <a href="#" class="text-muted mx-2"><img src="/img/wp-foot.png" width="35" height="35" ></a>

    </ul>

  </footer>
</div>





