

<div class="container" id="body">
    <form action="/addcursos" method="post">

        <div class="mb-3">
            <label for="curso" class="form-label">Curso</label>
            <input type="text" class="form-control" id="curso" name="curso" required>
        </div>

        <div class="mb-3">
            <label for="modalidad" class="form-label">Modalidad</label>
            <input type="text" class="form-control" id="modalidad" name="modalidad" required>
        </div>

        <div class="mb-3">
            <label for="fecha_inicio" class="form-label">Fecha de Inicio</label>
            <input type="text" class="form-control" id="fecha_inicio" name="fecha_inicio" required>
        </div>

        <div class="mb-3 text-center">
            <button type="submit" class="btn btn-primary w-75">Agregar</button>
        </div> 

    </form>
</div>


